/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


.messagePhp {
    border: 2px solid #007bff;
    padding: 20px;
    margin: 20px 0;
}

.messagePhp h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.messagePhp h2 {
    font-size: 18px;
    color: #666;
    margin-bottom: 5px;
}

.messagePhp span {
    font-weight: bold;
    color: #007bff;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-left: -50px;
}

/* Main Styles */
main {
    margin-left: 500px;
    width: 500px;
}

/* Form Styles *//* Form Styles */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Limite la largeur du formulaire */
    margin: 20px ; /* Centre le formulaire horizontalement */
}




/* Input Styles */
input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Button Styles */
input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* Additional Styles */
.controle {
    font-weight: bold;
    color: #333;
}

.separ {
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
}

#btn_php {
    margin-top: 20px;
}

#submit {
    text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    form {
        width: 90%; /* Ajuste la largeur du formulaire pour les petits écrans */
    }
}

